@model IEnumerable<EventLab.Models.Event>

@{ ViewData["Title"] = "All Current Events";}

<h1>List Of All Events</h1>
<br />
<table class="table">

    <tr>
        <td>Month</td>
        @foreach (var theEvent in Model)
            {
            <td>@theEvent.Month</td>
        }
    <tr>
        <td>Day</td>
        @foreach (var theEvent in Model)
            {
            <td>@theEvent.Day</td>
        }
    </tr>
    <tr>
        <td>Year</td>
        @foreach (var theEvent in Model)
            {
            <td>@theEvent.Year</td>
        }
    </tr>
    <tr>
        <td>Location</td>
        @foreach (var theEvent in Model)
            {
            <td>@theEvent.Location</td>
        }
    </tr>

    <tr>
        <td>Time</td>
        @foreach (var theEvent in Model)
            {
            <td>@theEvent.Time</td>
        }
    </tr>
</table>

